<h1>Enter the dimensions of your parcel to be shipped.</h1>


<form action='/results' method='get'>

  <div class="form-group">
    <label for="george">Enter the length</label>
    <input id="george" name="george" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="width">Enter the width</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="height">Enter the height</label>
    <input id="height" name="height" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="weight">Enter the weight</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>


  <button type="submit" class="btn btn-lg">Estimate</button>
</form>
